<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Taco Cloud</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<h2>ALL TACOS</h2>
<br>
<br>

<ul>
  <div th:each="taco : ${allTacos}">
    <span th:text="${taco.id}">id</span>
    <span th:text="${taco.name}">name</span>

      <form th:method="DELETE" th:action="@{/admin/all-tacos/{id}(id=${taco.getId()})}">
      <input type="submit" value="Delete"/>
    </form>

  </div>
</ul>
<br>
<br>
<br>

<form action="/admin/all-tacos/deleteAll" method="post">
  <input type="hidden" value="${taco}">
  <button type="submit">Delete All Tacos</button>
</form>

<a th:href="@{/}" id="home">HOME</a>
</body>
</html>